@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500&display=swap');

body {
  font-family: 'Cardo', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.fz-cardo-h1 {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 110%;
  color: #ffffff;
}

.fz-inter-17px {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
}
.fz-cardo-18px {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #1B3764;
}
.fz-inter-18px {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #b4c7e7;
}
.fz-inter-19px {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  color: #b4c7e7;
}
.fz-cardo-24px {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.fz-cardo-32px {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: var(--main-color-dark);
}
.fz-cardo-55px {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: var(--main-color-dark);
}