@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500&display=swap');

body {
  font-family: 'Cardo', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.fz-inter-17px {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 125%;
  color: #ffffff;
}